.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.nav h1{
    color: blueviolet;
    margin: 0;
    font-size: 40px;
}
.nav h1 a{
    color: blueviolet;
    text-decoration: none;
}
.nav ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 20px;
    padding-top: 20px;
}
.nav li a{
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}
.nav .nav-search{
    margin-top: 15px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 2%;
}
.nav .nav-search input{
    flex: 1;
    color: blueviolet;
    border: 2px solid blueviolet;
    height: 35px;
    border-right: 0px;
    padding-left: 10px;
}
.nav .nav-search button{
    color: blueviolet;
    border: 2px solid blueviolet;
    height: 35px;
    padding-left: 10px;
    font-weight: bold;
}
.suggested-result{
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 79px;
    border: 1px solid blueviolet;
}
.suggested-result li {
    border: 1px solid #fff;
    padding: 5px;
}
.suggested-result li a{
    cursor: pointer;
    color: blueviolet;
}
