<nav class="nav">
    <h1><a routerLink=""><img style="width: 250px;" src="/assets/e-com.png" alt=""></a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" placeholder="Search for products" />
        <button type="button">Search</button>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a href="#">Cart(0)</a></li>
            <li><a href="#">Login</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="add-seller">Add Product</a></li>
            <li><a routerLink="seller-home">Product List</a></li>
            <li><a class="px-1" style="color: darkcyan; border: 2px solid darkcyan;" type="button" (click)="logout()">Logout</a></li>
            <li><a class="px-1 py-1" style="color: darkred; border: 2px solid darkred;">{{sellerName}}</a></li>
        </ul>
    </div>
</nav>