<div class="footer">
    <ul>
        <li><a href="">About us</a></li>
        <li><a href="">Terms & Condition's</a></li>
        <li><a href="">Contact us</a></li>
        <li><a style="color: blue; font-weight: bold;"><i class="fa fa-facebook"></i></a></li>
        <li><a style=" background: -webkit-linear-gradient(yellow,red,yellow);
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;">
                      <i class="fa fa-instagram"></i></a></li>
        <li><a style="color: skyblue;"><i class="fa fa-twitter"></i></a></li>
        <li><a style="color: blue;"><i class="fa fa-linkedin"></i></a></li>
    </ul>

       <div class="footer-copyright">
        <p>E-Commerce Copyright @ 2023 designed by Mohd Nadeem All Rights Reserved.</p>
       </div>

</div>