<div class="footer">
    <ul>
        <li><a routerLink="aboutus">About us</a></li>
        <li><a routerLink="termsconditions">Terms & Condition's</a></li>
        <li><a routerLink="contactus">Contact us</a></li>
        <li>
            <a target="_blank"
            href="https://www.facebook.com/profile.php?id=100072893809403&mibextid=ZbWKwL" 
            style="color: blue; font-weight: bold;">
            <i class="fa fa-facebook"></i>
            </a>
        </li>
            <li>
                <a target="_blank"
                href="https://instagram.com/ahmad_nadeem212?igshid=ZDdkNTZiNTM="
                style=" background: -webkit-linear-gradient(yellow,red,yellow);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a target="_blank"
                href="https://twitter.com/Ahmadsa30047121?t=9ZmC9mjjwJ4t2S6j6Y6nIA&s=08"
                style="color: skyblue;">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a target="_blank"
            href="https://www.linkedin.com/in/mohd-nadeem-265655224"
            style="color: blue;">
            <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a target="_blank"
            href="https://join.skype.com/invite/vhgoeWJfaGGy"
            style="color: rgb(51, 51, 236);">
            <i class="fa fa-skype"></i>
            </a>
        </li>
    </ul>

       <div class="footer-copyright">
        <p>E-Commerce Copyright @ 2023 designed by 
            <span>Mohd Nadeem</span> 
            All Rights Reserved.</p>
       </div>
</div>