<h1 style="text-align: center; font-weight: bold;">Contact Us</h1>
<div class="container">
    <div class="row mt-3 mx-4">
        <div class="col-md-6">
            <input type="text" placeholder="first name">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="last name">
        </div>
    </div>
    <div class="row mt-3 mx-4">
        <div class="col-md-6">
            <input type="text" placeholder="email">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="address">
        </div>
    </div>
    <div class="row mt-3 mx-4">
        <div class="col-md-6">
            <input type="text" placeholder="state">
        </div>
        <div class="col-md-6">
            <input type="text" placeholder="phone">
        </div>
    </div>
    <div class="row mt-2 mx-4">
        <div class="col-md-6">
            <button class="btn btn-success">Submit</button>
        </div>
        <div class="col-md-6">
           <button class="btn btn-primary">Reset</button>
        </div>
    </div>
</div>