<h1 style="font-weight: bold; text-align: center;">About Us</h1>
 <div class="container">
    <div class="row">
        <div class="about-us text-center">
            The company has established its presence in the industry due to a differentiated business model<br> 
            which is built on delivery service capability, scalability,<br>
             customization and sustainability. <br>
             Ecom Express uses cutting-edge technology and automated solutions to enable first-mile pickup, processing,<br> 
             network optimization and last mile delivery. The company’s products,<br>
              include Ecom Express Services (EXS),Ecom Fulfilment <br>
              Services (EFS) and Ecom <br>
              Digital Services (EDS).
        </div>
    </div>
 </div>