<div class="row product-details" *ngIf="productDetail">
    <p class="cartPopup">{{cartPopup}}</p>
    <div class="col-sm-6">
        <img class="pro-image" src="{{productDetail?.img}}" alt="">
    </div>
<div class="col-sm-6">
    <div class="detail">
        <h2 style="color: green; font-weight: bold;">Product Name : {{productDetail?.pname}}</h2>
        <h3><b>Price :</b> ${{productDetail?.price}}</h3>
        <div>
            Color :
            <h5 [style.backgroundColor]="productDetail?.color" class="pro-color"></h5>
        </div>
        <h6><b>Category :</b> {{productDetail?.category}}</h6>
        <h6><b>Description :</b> {{productDetail?.pdesc}}</h6>
        <div class="product-footer mt-4">
			<a class="vd" (click)="Addtocart()">Add To Cart</a>
			<a class="ac">Buy Now</a>
            <div class="quantity-group mt-2">
                <button (click)="handleQuantity('min')">-</button>
                <input type="text" value="{{productQuantity}}">
                <button (click)="handleQuantity('plus')">+</button>
            </div>
        </div>
        </div>
</div>
</div>