<div class="my-order">
    <h1>My Order's</h1>
    <div class="row heading">
        <div class="col-sm-2">
            <span>Order</span>
        </div>
        <div class="col-sm-2">
            <span>Order Id</span>
        </div>
        <div class="col-sm-2">
            <span>Total Amount</span>
        </div>
        <div class="col-sm-2">
            <span>Status</span>
        </div>
        <div class="col-sm-2">
            <span>Action's</span>
        </div>
    </div>
    <div class="row" *ngFor="let data of orderListData">
        <div class="col-sm-2">
            <img style="height: 100px; width:150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSrLgL7P5Os6dYytdiR4pN1W85ZLI4wxzmJdRaiH04xSEFkK9Vi5To1Izh5SIrKZtNCLE&usqp=CAU">
        </div>
        <div class="col-sm-2">
            <span style="line-height: 80px; padding-left: 20px;">{{data.id}}</span>
        </div>
        <div class="col-sm-2">
            <span style="line-height: 80px; padding-left: 20px;">{{data.totalPrice}}</span>
        </div>
        <div class="col-sm-2">
            <span style="line-height: 80px; padding-left: 20px;">Pending</span>
        </div>
        <div class="col-sm-2">
            <span><button class="form-button mt-4">Cancel Order</button></span>
        </div>
    </div>
</div>