<div class="add-pro">
    <hr><h1 class="text-center" style="color: blueviolet; background-color: lightgray;">Update Seller Product's</h1><hr>
    <p class="message_p">{{updateProductmsg}}</p>
    <form [formGroup] = "updateProduct" (ngSubmit)="onUpdate(updateProduct.value)" class="common-form">
        <input class="form-input" type="text" placeholder="products Name" formControlName="pname" maxlength="15">
        <span class="form-text text-danger px-2" *ngIf="submitted && updateProduct.controls.pname.errors">
            <span *ngIf="submitted && updateProduct.controls.pname.errors['required']">
                Product name is required.
            </span>
            <span *ngIf="submitted && updateProduct.controls.pname.errors['minlength']">
                Minimum length required atleast 5 character.
            </span>
            <span *ngIf="submitted && updateProduct.controls.pname.errors['maxlength']">
                Maximum length is 20 character.
            </span>
            <span *ngIf="submitted && updateProduct.controls.pname.errors['pattern']">
                ! Please enter a valid product name.
            </span>
        </span>
        <input class="form-input" type="text" placeholder="products Price" formControlName="price">
        <span class="form-text text-danger px-2" *ngIf="submitted && updateProduct.controls.price.errors">
            <span *ngIf="submitted && updateProduct.controls.price.errors['required']">
                Price is required.
            </span>
            <span *ngIf="submitted && updateProduct.controls.price.errors['pattern']">
                Please enter valid price.
            </span>
        </span>
        <input class="form-input" type="text" placeholder="products Color" formControlName="color">
        <span class="form-text text-danger px-2" *ngIf="submitted && updateProduct.controls.color.errors">
            <span *ngIf="submitted && updateProduct.controls.color.errors['required']">
                Color is required.
            </span>
        </span>
        <input class="form-input" type="text" placeholder="products Category" formControlName="category" maxlength="20">
        <span class="form-text text-danger px-2" *ngIf="submitted && updateProduct.controls.category.errors">
            <span *ngIf="submitted && updateProduct.controls.category.errors['required']">
                Category is required.
            </span>
            <span *ngIf="submitted && updateProduct.controls.category.errors['minlength']">
                Minimum length required atleast 3 character.
            </span>
            <span *ngIf="submitted && updateProduct.controls.category.errors['maxlength']">
                Maximum length required 20 character. 
            </span>
        </span>
        <textarea class="form-input" type="text" placeholder="products Description" formControlName="pdesc">
        </textarea>
        <span class="form-text text-danger px-2" *ngIf="submitted && updateProduct.controls.pdesc.errors">
            <span *ngIf="submitted && updateProduct.controls.pdesc.errors['pattern']">
                ! Please enter a valid description.
            </span>
        </span>
        <input class="form-input" type="text" placeholder="products image URL" formControlName="img">
        <button class="form-input">Update</button>
    </form>
</div>